/* src/index.css */
:root {
  font-family: 'Courier Prime', 'Courier', monospace;
  font-size: 18px; /* Comfortable writing size */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* Tells browser to use dark defaults */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}